<h1>Create your new blog post!</h1>
</br>
<form action="/posts" method="POST">

  <p><label for="name">Blog Title: </label>
  <input type="text" name="name"></p>

  <p><label for="content">Blog Article:</label></p>
  <p><input type="text" name="content"></p>

  <input type="submit" name="submit" value="submit">
</form>
